<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>stems</key>
    <dict>
      <key>Y: 78</key>
      <dict>
        <key>width</key>
        <integer>78</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>20</key>
          <integer>2</integer>
          <key>33</key>
          <integer>3</integer>
          <key>45</key>
          <integer>4</integer>
          <key>58</key>
          <integer>5</integer>
          <key>71</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 90</key>
      <dict>
        <key>width</key>
        <integer>90</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>28</key>
          <integer>3</integer>
          <key>39</key>
          <integer>4</integer>
          <key>50</key>
          <integer>5</integer>
          <key>62</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>250</real>
      <key>name</key>
      <string>f1</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>125</real>
      <key>name</key>
      <string>f2</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-125</real>
      <key>name</key>
      <string>f3</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1000</real>
      <key>name</key>
      <string>f4</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>750</real>
      <key>name</key>
      <string>f5</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>500</real>
      <key>name</key>
      <string>f6</string>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>uniEC40</string>
    <string>uniEC41</string>
    <string>uniEC42</string>
    <string>uniEC43</string>
    <string>uniEC44</string>
    <string>uniEC45</string>
    <string>uniEC46</string>
    <string>uniEC47</string>
    <string>uniEC48</string>
    <string>uniEC49</string>
    <string>uniEC4A</string>
    <string>uniEC4B</string>
    <string>uniEC4C</string>
    <string>uniEC4D</string>
    <string>uniEC4E</string>
    <string>uniEC4F</string>
    <string>uniEC50</string>
    <string>uniEC51</string>
    <string>uniEC52</string>
    <string>uniEC53</string>
    <string>uniEC54</string>
    <string>uniEC55</string>
    <string>uniEC56</string>
    <string>uniEC57</string>
    <string>uniEC58</string>
    <string>uniEC59</string>
    <string>uniEC5A</string>
    <string>uniEC5B</string>
    <string>uniEC5C</string>
    <string>uniEC5D</string>
    <string>uniEC5E</string>
    <string>uniEC5F</string>
    <string>uniEC60</string>
    <string>uniEC61</string>
    <string>uniEC62</string>
    <string>uniEC63</string>
    <string>uniEC64</string>
    <string>uniEC65</string>
    <string>uniEC66</string>
    <string>uniEC67</string>
    <string>uniEC68</string>
    <string>uniEC69</string>
    <string>uniEC6A</string>
    <string>uniEC6B</string>
    <string>uniEC6C</string>
    <string>uniEC6D</string>
    <string>uniEC6E</string>
    <string>uniEC6F</string>
    <string>uniEC70</string>
    <string>uniEC71</string>
    <string>uniEC72</string>
    <string>uniEC73</string>
    <string>uniEC74</string>
    <string>uniEC75</string>
    <string>uniEC76</string>
    <string>uniEC77</string>
    <string>uniEC78</string>
    <string>uniEC79</string>
    <string>uniEC7A</string>
    <string>uniEC7B</string>
    <string>uniEC7C</string>
    <string>uniEC80</string>
    <string>uniEC81</string>
    <string>uniEC82</string>
    <string>uniEC83</string>
    <string>uniEC84</string>
    <string>uniEC85</string>
    <string>uniEC86</string>
    <string>uniEC87</string>
    <string>uniEC88</string>
    <string>uniEC89</string>
    <string>uniEC8A</string>
    <string>uniEC8B</string>
    <string>uniEC8C</string>
    <string>uniEC8D</string>
    <string>uniEC8E</string>
    <string>uniEC8F</string>
    <string>uniEC90</string>
    <string>uniEC91</string>
    <string>uniEC92</string>
    <string>uniEC93</string>
    <string>uniEC94</string>
    <string>uniEC95</string>
    <string>uniEC96</string>
    <string>uniEC97</string>
    <string>uniEC98</string>
    <string>uniEC99</string>
    <string>uniEC9A</string>
    <string>uniEC9B</string>
    <string>uniEC9C</string>
    <string>uniEC9D</string>
    <string>uniEC9E</string>
    <string>uniEC9F</string>
    <string>uniECA0</string>
    <string>uniECA1</string>
    <string>uniECA2</string>
    <string>uniECA3</string>
    <string>uniECA4</string>
    <string>uniECA5</string>
    <string>uniECA6</string>
    <string>uniECA7</string>
    <string>uniECA8</string>
    <string>uniECA9</string>
    <string>uniECAA</string>
    <string>uniECAB</string>
    <string>uniECAC</string>
    <string>uniECAD</string>
    <string>uniECAE</string>
    <string>uniECAF</string>
    <string>uniECB0</string>
    <string>uniECB1</string>
    <string>uniECB2</string>
    <string>uniECB3</string>
    <string>uniECB4</string>
    <string>uniECB5</string>
    <string>uniECB6</string>
    <string>uniECB7</string>
    <string>uniECB8</string>
    <string>uniECB9</string>
    <string>uniECBA</string>
    <string>uniECBB</string>
    <string>uniECBC</string>
    <string>uniECBD</string>
    <string>uniECBE</string>
    <string>uniECBF</string>
    <string>uniECC0</string>
    <string>uniECC1</string>
    <string>uniECC2</string>
    <string>uniECC3</string>
    <string>uniECC4</string>
    <string>uniECC5</string>
    <string>uniECC6</string>
    <string>uniECC7</string>
    <string>uniECC8</string>
    <string>uniECC9</string>
    <string>uniECCA</string>
    <string>uniECCB</string>
    <string>uniECCC</string>
    <string>uniECCD</string>
    <string>uniECCE</string>
    <string>uniECCF</string>
    <string>uniECD0</string>
    <string>uniECD1</string>
    <string>uniECE0</string>
    <string>uniECE1</string>
    <string>uniECE2</string>
    <string>uniECE3</string>
    <string>uniECE4</string>
    <string>uniECE5</string>
    <string>uniECE6</string>
    <string>uniECE7</string>
    <string>uniECE8</string>
    <string>uniECE9</string>
    <string>uniECEA</string>
    <string>uniECEB</string>
    <string>uniECEC</string>
    <string>uniECED</string>
    <string>uniECEE</string>
    <string>uniECEF</string>
    <string>uniECF0</string>
    <string>uniECF1</string>
    <string>uniECF2</string>
    <string>uniECF3</string>
    <string>uniECF4</string>
    <string>uniECF5</string>
    <string>uniECF6</string>
    <string>uniECF7</string>
    <string>uniECF8</string>
    <string>uniECF9</string>
    <string>uniECFA</string>
    <string>uniECFB</string>
    <string>uniECFC</string>
    <string>uniECFD</string>
    <string>uniECFE</string>
    <string>uniECFF</string>
    <string>uniED00</string>
    <string>uniED01</string>
    <string>uniED02</string>
    <string>uniED03</string>
    <string>uniED04</string>
    <string>uniED05</string>
    <string>uniED06</string>
    <string>uniED07</string>
    <string>uniED08</string>
    <string>uniED09</string>
    <string>uniED0A</string>
    <string>uniED0B</string>
    <string>uniED0C</string>
    <string>uniED0D</string>
    <string>uniED0E</string>
    <string>uniED0F</string>
    <string>uniED10</string>
    <string>uniED11</string>
    <string>uniED12</string>
    <string>uniED13</string>
    <string>uniED14</string>
    <string>uniED15</string>
    <string>uniED16</string>
    <string>uniED17</string>
    <string>uniED18</string>
    <string>uniED19</string>
    <string>uniED1A</string>
    <string>uniED1B</string>
    <string>uniED1C</string>
    <string>uniED1D</string>
    <string>uniED1E</string>
    <string>uniED1F</string>
    <string>uniED20</string>
    <string>uniED21</string>
    <string>uniED22</string>
    <string>uniED23</string>
    <string>uniED24</string>
    <string>uniED25</string>
    <string>uniED26</string>
    <string>uniED27</string>
    <string>uniED28</string>
    <string>uniED29</string>
    <string>uniED2A</string>
    <string>uniED2B</string>
    <string>uniED2C</string>
    <string>uniED2D</string>
    <string>uniED30</string>
    <string>uniED31</string>
    <string>uniED32</string>
    <string>uniED33</string>
    <string>uniED34</string>
    <string>uniED35</string>
    <string>uniED36</string>
    <string>uniED37</string>
    <string>uniED38</string>
    <string>uniED39</string>
    <string>uniED3A</string>
    <string>uniED3B</string>
    <string>uniED3C</string>
    <string>uniED3D</string>
    <string>uniED3E</string>
    <string>uniED3F</string>
    <string>uniED40</string>
    <string>uniED41</string>
    <string>uniED42</string>
    <string>uniED43</string>
    <string>uniED44</string>
    <string>uniED45</string>
    <string>uniED46</string>
    <string>uniED47</string>
    <string>uniED48</string>
    <string>uniED49</string>
    <string>uniED4A</string>
    <string>uniED4B</string>
    <string>uniED4C</string>
    <string>uniED4D</string>
    <string>uniED4E</string>
    <string>uniED4F</string>
    <string>uniED50</string>
    <string>uniED51</string>
    <string>uniED52</string>
    <string>uniED53</string>
    <string>uniED54</string>
    <string>uniED55</string>
    <string>uniED56</string>
    <string>uniED57</string>
    <string>uniED58</string>
    <string>uniED59</string>
    <string>uniED5A</string>
    <string>uniED5B</string>
    <string>uniED5C</string>
    <string>uniED5D</string>
    <string>uniED5E</string>
    <string>uniED5F</string>
    <string>uniED60</string>
    <string>uniED61</string>
    <string>uniED62</string>
    <string>uniED63</string>
    <string>uniED64</string>
    <string>uniED65</string>
    <string>uniED66</string>
    <string>uniED67</string>
    <string>uniED68</string>
    <string>uniED69</string>
    <string>uniED6A</string>
    <string>uniED6B</string>
    <string>uniED6C</string>
    <string>uniED6D</string>
    <string>uniED6E</string>
    <string>uniED6F</string>
    <string>uniED70</string>
    <string>uniED71</string>
    <string>uniED72</string>
    <string>uniED73</string>
    <string>uniED74</string>
    <string>uniED75</string>
    <string>uniED76</string>
    <string>uniED77</string>
    <string>uniED78</string>
    <string>uniED79</string>
    <string>uniED7A</string>
    <string>uniED80</string>
    <string>uniED81</string>
    <string>uniED82</string>
    <string>uniED83</string>
    <string>uniED84</string>
    <string>uniED85</string>
    <string>uniED86</string>
    <string>uniED87</string>
    <string>uniED88</string>
    <string>uniED89</string>
    <string>uniED8A</string>
    <string>uniED8B</string>
    <string>uniED8C</string>
    <string>uniED8D</string>
    <string>uniED8E</string>
    <string>uniED8F</string>
    <string>uniED90</string>
    <string>uniED91</string>
    <string>uniED92</string>
    <string>uniED93</string>
    <string>uniED94</string>
    <string>uniED95</string>
    <string>uniED96</string>
    <string>uniED97</string>
    <string>uniED98</string>
    <string>uniED99</string>
    <string>uniED9A</string>
    <string>uniED9B</string>
    <string>uniED9C</string>
    <string>uniED9D</string>
    <string>uniED9E</string>
    <string>uniED9F</string>
    <string>uniEDA0</string>
    <string>uniEDA1</string>
    <string>uniEDA2</string>
    <string>uniEDA3</string>
    <string>uniEDA4</string>
    <string>uniEDA5</string>
    <string>uniEDA6</string>
    <string>uniEDA7</string>
    <string>uniEDA8</string>
    <string>uniEDA9</string>
    <string>uniEDAA</string>
    <string>uniEDAB</string>
    <string>uniEDAC</string>
    <string>uniEDAD</string>
    <string>uniEDAE</string>
    <string>uniEDAF</string>
    <string>uniEDB0</string>
    <string>uniEDB1</string>
    <string>uniEDB2</string>
    <string>uniEDB3</string>
    <string>uniEDB4</string>
    <string>uniEDB5</string>
    <string>uniEDB6</string>
    <string>uniEDB7</string>
    <string>uniEDC0</string>
    <string>uniEDC1</string>
    <string>uniEDC2</string>
    <string>uniEDC3</string>
    <string>uniEDC4</string>
    <string>uniEDC5</string>
    <string>uniEDC6</string>
    <string>uniEDC7</string>
    <string>uniEDC8</string>
    <string>uniEDC9</string>
    <string>uniEDCA</string>
    <string>uniEDCB</string>
    <string>uniEDCC</string>
    <string>uniEDCD</string>
    <string>uniEDCE</string>
    <string>uniEDCF</string>
    <string>uniEDD0</string>
    <string>uniEDD1</string>
    <string>uniEDD2</string>
    <string>uniEDD3</string>
    <string>uniEDD4</string>
    <string>uniEDD5</string>
    <string>uniEDD6</string>
    <string>uniEDD7</string>
    <string>uniEDD8</string>
    <string>uniEDD9</string>
    <string>uniEDDA</string>
    <string>uniEDDB</string>
    <string>uniEDDC</string>
    <string>uniEDDD</string>
    <string>uniEDDE</string>
    <string>uniEDDF</string>
    <string>uniEDE0</string>
    <string>uniEDE1</string>
    <string>uniEDE2</string>
    <string>uniEDE3</string>
    <string>uniEDE4</string>
    <string>uniEDE5</string>
    <string>uniEDE6</string>
    <string>uniEDE7</string>
    <string>uniEDE8</string>
    <string>uniEDE9</string>
    <string>uniEDEA</string>
    <string>uniEDEB</string>
    <string>uniEDEC</string>
    <string>uniEDED</string>
    <string>uniEDEE</string>
    <string>uniEDEF</string>
    <string>uniEDF0</string>
    <string>uniEDF1</string>
    <string>uniEDF2</string>
    <string>uniEDF3</string>
    <string>uniEDF4</string>
    <string>uniEDF5</string>
    <string>uniEDF6</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
  </array>
</dict>
</plist>
